@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Tagesschrift&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(120, 185, 181);
}

nav {
    background-color: rgb(15, 130, 140);
    color: rgb(50, 10, 107);
    justify-content: center;
    padding: 0 15px;
    font-family: "Tagesschrift",
        system-ui;
    font-weight: 400;
    font-style: normal;

}

nav ul {
    list-style-type: none;
}

h1 {
    display: flex;
    justify-content: center;
}

.GameBoard {
    background-color: rgb(6, 80, 132);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container {
    background-color: rgb(50, 10, 107);
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: fantasy;
}

.box {
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);

    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: white;
}

.gameinfo {
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.imgbox img {
    display: none;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}